#title {
    background-color: #ff4c68;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    line-height:1.5;
}
.container-fluid{
    padding: 3% 15%;
}
/* 
.download-icon{
    width: 4%;
} */